body {
    background-color: black;
}

@font-face {
    font-family: pixelfont;
    src: url(font.ttf);
}

a {
    background-color: green;
    border: 0.2px solid #8f8f9d;
    border-radius: 5px;
    padding: 3px;
    color: black;
    font-family: pixelfont;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    cursor: default;
  }